@model Property
<h3>@Model.Name</h3>
<address>
    @Model.Address
</address>
<p>Availability: @(Model.AvailableFrom < DateTime.Now ? "Immediate" : Model.AvailableFrom.ToShortDateString())</p>
<p>Day Rate: @Model.DayRate.ToString("c")</p>
<p>Max Guests: @Model.MaxNumberOfGuests</p>
<p>Smoking permitted? @(Model.SmokingPermitted ? "Yes" : "No")</p>